<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Pac-Man!</h1>
    <p>Living life one dot at a time...</p>
    <p>
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
  </div>
</div>